.page-content {
    display:flex;
    flex-direction: column;
    gap:15px;
    padding: 30px;
}

.image {
    width: 400px;
}

.button {
    width:200px;
    margin-bottom: 20px;
    margin-right: 10px;
}

#form1 {
    display:flex;
    flex-direction: column;
    gap: 25px;
}

#submitbutton {
    margin-top: 20px;
    width: 300px;
}

input {
    width: 500px;
}